@use "colors" as *;

body {
  background: #F9F9F9;
  margin: 0px 28px;
  font: 14px 'Montserrat', sans-serif;
  color: $text-color;
}

.flexed, footer .paginator .page-list button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button {
    height: 32px;
    width: 38px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  }
}

.top-level {
  display: flex;
  height: 100%;
  margin-top: 42px;
}
